extends layout

block content
  form(method='POST')
    legend Signup
    .form-group
      label(for='email') Email
      input.form-control(type='text', name='email', autofocus)
    .form-group
      label(for='phonenumber') Phonenumber
      input.form-control(type='text', name='phonenumber', autofocus)
    .form-group
      label(for='firstname') Firstname
      input.form-control(type='text', name='firstname')
    .form-group
      label(for='lastname') Lastname
      input.form-control(type='text', name='lastname')
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password')
    .form-group
      label(for='admin') Admin
      input.form-control(type='text', name='admin')
    button.btn.btn-primary(type='submit') Signup